@use "../../helpers" as *;

.products-hero {
  color: var(--color-dark);
  margin-top: var(--header-height);

  &__title {
    text-align: center;
    margin-bottom: rem(30);
    color: rgb(75, 69, 64);
  }

  //Ova mahallesi 44346 sokak No. 2/5 Seyhan Adana Turkiye
  // +90 541 712 10 77

  &__items {
    --rows: 3;
    display: grid;
    grid-template-columns: repeat(var(--rows), 1fr);
    gap: rem(20);

    @include tablet {
      --rows: 2;
    }

    @include mobile {
      --rows: 1;
    }
  }

  &__card {
    box-shadow: 3px 3px 12px 0px rgb(66, 68, 90);
    border-radius: rem(10);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: rem(10);

    color: rgb(69, 62, 57);

    overflow: hidden;
    text-align: center;

    &-img {
      padding: rem(15);
      margin-bottom: rem(25);

      transition-duration: var(--transition-duration);
      @include hover {
        scale: 1.2;
      }
    }

    &-link {
      display: block;
    }
  }
}
