@use "../helpers" as *;

.hero {
  height: 100vh;

  background: url(../images/bg-1.jpg) center/cover no-repeat;
  animation: animation-swap 15s infinite;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    font-size: rem(24);
    margin-bottom: rem(20);
  }

  &__subtitle {
    span {
      font-weight: 700;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    padding-top: rem(250);
    width: 100%;
    max-width: rem(600);

    @include mobile {
      max-width: 100%;
      text-align: center;
    }
  }

  @keyframes animation-swap {
    0% {
      background-image: url(../images/bg-1.jpg);
    }

    33% {
      background-image: url(../images/bg-2.jpg);
    }

    66% {
      background-image: url(../images/bg-3.jpg);
    }
  }
}
