@use "../helpers" as *;

.product-hero {
  color: var(--color-light-brown);
  padding-top: rem(100);

  &__main {
    display: flex;

    gap: rem(35);

    margin-bottom: rem(50);

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: rem(20);
  }

  &__text {
    margin-bottom: rem(30);
    text-align: justify;
  }

  &__body {
    display: flex;
    flex-direction: column;

    @include tablet {
      text-align: center;
      align-items: center;
    }
  }

  &__slider {
    width: 50%;
    align-self: end;

    @include tablet {
      width: 100%;
      max-width: 100%;
    }
  }

  &__info {
    &-title {
      text-align: center;
      margin-bottom: rem(10);
    }

    &-text {
      p {
        margin-bottom: 0;
        text-align: justify;
      }
    }
  }
}
