@use "../../helpers" as *;

.breakout-hero {
  color: var(--color-light-brown);
  padding-top: rem(100);

  hr {
    position: relative;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  &__main {
    display: flex;

    margin-bottom: rem(50);

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: rem(20);
  }

  &__text {
    margin-bottom: rem(30);
  }

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: rem(600);
    margin-inline: auto;
  }

  &__slider {
    width: 50%;

    @include tablet {
      width: 100%;
      max-width: 100%;
    }
  }

  &__info {
    max-width: 70%;
    margin-inline: auto;
    &-title {
      text-align: center;
      margin-bottom: rem(10);
    }

    &-text {
      p {
        margin-bottom: rem(5);
      }
      p::first-letter {
        margin-left: rem(50);
      }
    }
  }
}
