@use "./helpers" as *;

:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-red: #f80012;
  --color-light-brown: #453e39;

  --container-width: #{rem(1280)};
  --container-padding-x: #{rem(15)};
  --section-padding-y: #{rem(60)};
  --header-height: #{rem(80)};

  --font-family-base: "Roboto", sans-serif;
  --font-family-secondary: "Assistant", sans-serif;

  --transition-duration: 0.2s;

  @include tablet {
    --section-padding-y: #{rem(40)};
  }

  @include mobile {
    --section-padding-y: #{rem(20)};
  }
}
